In [13]:
import mysql.connector
import pandas as pd
connection = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'Bautroixanh12345',
    database = 'class8'
)
query = """
select 
	"Total sales" as "Category",
	sum(`Total_Revenue`) as "Amount"
from data_main 
where `Year` = 2022 
Union all 
select 
	"Sales deductions" as "Category", 
    sum(`Revenue_deductions`) as "Amount"
from data_main 
where `Year` = 2022
Union all 
select 
	"Net revenue" as "Category", 
    sum(`Net_Revenue`) as "Amount"
from data_main 
where `Year` = 2022
Union all 
select 
	"Total Cost" as "Category", 
    sum(`Cost`) as "Amount"
from data_main
where `Year` = 2022
union all 
select 
	"Gross profit" as "Category", 
    sum(`Gross_Profit`) as "Amount" 
from data_main
where `Year` = 2022 
union all 
select 
	"Selling Expenses" as "Category",
    sum(`Selling_Expenses`) as "Amount" 
from data_main
where `Year` = 2022 
union all 
select 
	"Depreciation and amortization" as "Category", 
    sum(`Depreciation_and_amortization`) as "Amount"
from data_main
where `Year` = 2022 
union all 
select 
	"Salary" as "Category",
    sum(`Salary`) as "Amount"
from data_main
where `Year` = 2022 
union all 
select 
	"Rewards of all kinds" as "Category",
    sum(`Rewards_of_all_kinds`) as "Amount"
from data_main
where `Year` = 2022 
union all 
select 
	"Marketing expenses" as "Category", 
    sum(`Marketing_expense`) as "Amount"
from data_main
where `Year` = 2022 
union all 
select 
	"Tax" as "Category", 
    sum(`Tax(VAT)`) as "Amount"
from data_main
where `Year` = 2022 
union all 
select 
	"General expenses" as "Category", 
    sum(`General_Expenses`) as "Amount"
from data_main
where `Year` = 2022 
union all 
select 
	"Management cost" as "Category",
    sum(`Management_costs(allocation)`) as "Management cost"
from data_main
where `Year` = 2022 
union all 
select 
	"Net profit from business activities" as "Category",
    sum(`Net_profit_from_business_activities`) as "Amount"
from data_main
where `Year` = 2022 
union all 
select 
	"Revenue from financial activities" as "Category",
    sum(`Revenue_from_financial_activities`) as "Amount"
from data_main
where `Year` = 2022 
union all 
select 
	"Financial operating expenses" as "Category",
    sum(`Financial_operating_expenses`) as "Amount"
from data_main
where `Year` = 2022 
union all 
select 
	"Net profits" as "Category", 
    sum(`Net_profits`) as "Amount"
from data_main
where `Year` = 2022 
union all 
select 
	"Other incomes" as "Category", 
    sum(`Other_income`) as "Amount"
from data_main
where `Year` = 2022 
union all 
select 
	"Other costs" as "Category",
    sum(`Other_costs`) as "Amount"
from data_main
where `Year` = 2022 
union all 
select 
	"Other profits" as "Category", 
    sum(`Other_profits`) as "Amount"
from data_main
where `Year` = 2022 
union all 
select
	"Profit before tax" as "Category", 
    sum(`Profits_before_tax`) as "Amount"
from data_main
where `Year` = 2022 
union all 
select 
	"Profit after tax" as "Category",
    sum(`Profit_after_taxes`) as "Amount"
from data_main
where `Year` = 2022 
union all 
select 
	"Final net profits" as "Category", 
    sum(`Net_profit`) as "Amount"
from data_main 
where `Year` = 2022""" 
cursor = connection.cursor()
cursor.execute(query) 
result = cursor.fetchall() 
df = pd.DataFrame(result, columns=['Category', 'Amount'])
df['Amount'] = pd.to_numeric(df['Amount'])
df.to_excel(r'D:\Data Intense\Level 2\Day8\income_statement.xlsx')

In [26]:
import mysql.connector
import pandas as pd 
connection = mysql.connector.connect(
    host = 'localhost',
    user = 'root', 
    password = 'Bautroixanh12345', 
    database = 'class8' 
)
querry2 = """select 
	"Total sales" as "Category",
	sum(`Total_Revenue`) as "Amount"
from data_main 
where `Year` = 2023 
Union all 
select 
	"Sales deductions" as "Category", 
    sum(`Revenue_deductions`) as "Amount"
from data_main 
where `Year` = 2023
Union all 
select 
	"Net revenue" as "Category", 
    sum(`Net_Revenue`) as "Amount"
from data_main 
where `Year` = 2023
Union all 
select 
	"Total Cost" as "Category", 
    sum(`Cost`) as "Amount"
from data_main
where `Year` = 2023
union all 
select 
	"Gross profit" as "Category", 
    sum(`Gross_Profit`) as "Amount" 
from data_main
where `Year` = 2023 
union all 
select 
	"Selling Expenses" as "Category",
    sum(`Selling_Expenses`) as "Amount" 
from data_main
where `Year` = 2023 
union all 
select 
	"Depreciation and amortization" as "Category", 
    sum(`Depreciation_and_amortization`) as "Amount"
from data_main
where `Year` = 2023 
union all 
select 
	"Salary" as "Category",
    sum(`Salary`) as "Amount"
from data_main
where `Year` = 2023 
union all 
select 
	"Rewards of all kinds" as "Category",
    sum(`Rewards_of_all_kinds`) as "Amount"
from data_main
where `Year` = 2023 
union all 
select 
	"Marketing expenses" as "Category", 
    sum(`Marketing_expense`) as "Amount"
from data_main
where `Year` = 2023 
union all 
select 
	"Tax" as "Category", 
    sum(`Tax(VAT)`) as "Amount"
from data_main
where `Year` = 2023 
union all 
select 
	"General expenses" as "Category", 
    sum(`General_Expenses`) as "Amount"
from data_main
where `Year` = 2023 
union all 
select 
	"Management cost" as "Category",
    sum(`Management_costs(allocation)`) as "Management cost"
from data_main
where `Year` = 2023 
union all 
select 
	"Net profit from business activities" as "Category",
    sum(`Net_profit_from_business_activities`) as "Amount"
from data_main
where `Year` = 2023 
union all 
select 
	"Revenue from financial activities" as "Category",
    sum(`Revenue_from_financial_activities`) as "Amount"
from data_main
where `Year` = 2023 
union all 
select 
	"Financial operating expenses" as "Category",
    sum(`Financial_operating_expenses`) as "Amount"
from data_main
where `Year` = 2023 
union all 
select 
	"Net profits" as "Category", 
    sum(`Net_profits`) as "Amount"
from data_main
where `Year` = 2023 
union all 
select 
	"Other incomes" as "Category", 
    sum(`Other_income`) as "Amount"
from data_main
where `Year` = 2023 
union all 
select 
	"Other costs" as "Category",
    sum(`Other_costs`) as "Amount"
from data_main
where `Year` = 2023 
union all 
select 
	"Other profits" as "Category", 
    sum(`Other_profits`) as "Amount"
from data_main
where `Year` = 2023 
union all 
select
	"Profit before tax" as "Category", 
    sum(`Profits_before_tax`) as "Amount"
from data_main
where `Year` = 2023 
union all 
select 
	"Profit after tax" as "Category",
    sum(`Profit_after_taxes`) as "Amount"
from data_main
where `Year` = 2023 
union all 
select 
	"Final net profits" as "Category", 
    sum(`Net_profit`) as "Amount"
from data_main 
where `Year` = 2023"""
cursor2 = connection.cursor() 
cursor2.execute(querry2)
result2 = cursor2.fetchall()
df2 = pd.DataFrame(result2, columns=['Category', 'Amount'])
df2.to_excel(r'D:\Data Intense\Level 2\Day8\income_statement_2023.xlsx')

In [21]:
#Convert the first text to included in year 2023 and throw back to the above ceil to use
text = text = """
select 
	"Total sales" as "Category",
	sum(`Total_Revenue`) as "Amount"
from data_main 
where `Year` = 2022 
Union all 
select 
	"Sales deductions" as "Category", 
    sum(`Revenue_deductions`) as "Amount"
from data_main 
where `Year` = 2022
Union all 
select 
	"Net revenue" as "Category", 
    sum(`Net_Revenue`) as "Amount"
from data_main 
where `Year` = 2022
Union all 
select 
	"Total Cost" as "Category", 
    sum(`Cost`) as "Amount"
from data_main
where `Year` = 2022
union all 
select 
	"Gross profit" as "Category", 
    sum(`Gross_Profit`) as "Amount" 
from data_main
where `Year` = 2022 
union all 
select 
	"Selling Expenses" as "Category",
    sum(`Selling_Expenses`) as "Amount" 
from data_main
where `Year` = 2022 
union all 
select 
	"Depreciation and amortization" as "Category", 
    sum(`Depreciation_and_amortization`) as "Amount"
from data_main
where `Year` = 2022 
union all 
select 
	"Salary" as "Category",
    sum(`Salary`) as "Amount"
from data_main
where `Year` = 2022 
union all 
select 
	"Rewards of all kinds" as "Category",
    sum(`Rewards_of_all_kinds`) as "Amount"
from data_main
where `Year` = 2022 
union all 
select 
	"Marketing expenses" as "Category", 
    sum(`Marketing_expense`) as "Amount"
from data_main
where `Year` = 2022 
union all 
select 
	"Tax" as "Category", 
    sum(`Tax(VAT)`) as "Amount"
from data_main
where `Year` = 2022 
union all 
select 
	"General expenses" as "Category", 
    sum(`General_Expenses`) as "Amount"
from data_main
where `Year` = 2022 
union all 
select 
	"Management cost" as "Category",
    sum(`Management_costs(allocation)`) as "Management cost"
from data_main
where `Year` = 2022 
union all 
select 
	"Net profit from business activities" as "Category",
    sum(`Net_profit_from_business_activities`) as "Amount"
from data_main
where `Year` = 2022 
union all 
select 
	"Revenue from financial activities" as "Category",
    sum(`Revenue_from_financial_activities`) as "Amount"
from data_main
where `Year` = 2022 
union all 
select 
	"Financial operating expenses" as "Category",
    sum(`Financial_operating_expenses`) as "Amount"
from data_main
where `Year` = 2022 
union all 
select 
	"Net profits" as "Category", 
    sum(`Net_profits`) as "Amount"
from data_main
where `Year` = 2022 
union all 
select 
	"Other incomes" as "Category", 
    sum(`Other_income`) as "Amount"
from data_main
where `Year` = 2022 
union all 
select 
	"Other costs" as "Category",
    sum(`Other_costs`) as "Amount"
from data_main
where `Year` = 2022 
union all 
select 
	"Other profits" as "Category", 
    sum(`Other_profits`) as "Amount"
from data_main
where `Year` = 2022 
union all 
select
	"Profit before tax" as "Category", 
    sum(`Profits_before_tax`) as "Amount"
from data_main
where `Year` = 2022 
union all 
select 
	"Profit after tax" as "Category",
    sum(`Profit_after_taxes`) as "Amount"
from data_main
where `Year` = 2022 
union all 
select 
	"Final net profits" as "Category", 
    sum(`Net_profit`) as "Amount"
from data_main 
where `Year` = 2022 """.replace('2022', '2023')
text

'\nselect \n\t"Total sales" as "Category",\n\tsum(`Total_Revenue`) as "Amount"\nfrom data_main \nwhere `Year` = 2023 \nUnion all \nselect \n\t"Sales deductions" as "Category", \n    sum(`Revenue_deductions`) as "Amount"\nfrom data_main \nwhere `Year` = 2023\nUnion all \nselect \n\t"Net revenue" as "Category", \n    sum(`Net_Revenue`) as "Amount"\nfrom data_main \nwhere `Year` = 2023\nUnion all \nselect \n\t"Total Cost" as "Category", \n    sum(`Cost`) as "Amount"\nfrom data_main\nwhere `Year` = 2023\nunion all \nselect \n\t"Gross profit" as "Category", \n    sum(`Gross_Profit`) as "Amount" \nfrom data_main\nwhere `Year` = 2023 \nunion all \nselect \n\t"Selling Expenses" as "Category",\n    sum(`Selling_Expenses`) as "Amount" \nfrom data_main\nwhere `Year` = 2023 \nunion all \nselect \n\t"Depreciation and amortization" as "Category", \n    sum(`Depreciation_and_amortization`) as "Amount"\nfrom data_main\nwhere `Year` = 2023 \nunion all \nselect \n\t"Salary" as "Category",\n    sum(`Salary`) as "Amount"\nfrom data_main\nwhere `Year` = 2023 \nunion all \nselect \n\t"Rewards of all kinds" as "Category",\n    sum(`Rewards_of_all_kinds`) as "Amount"\nfrom data_main\nwhere `Year` = 2023 \nunion all \nselect \n\t"Marketing expenses" as "Category", \n    sum(`Marketing_expense`) as "Amount"\nfrom data_main\nwhere `Year` = 2023 \nunion all \nselect \n\t"Tax" as "Category", \n    sum(`Tax(VAT)`) as "Amount"\nfrom data_main\nwhere `Year` = 2023 \nunion all \nselect \n\t"General expenses" as "Category", \n    sum(`General_Expenses`) as "Amount"\nfrom data_main\nwhere `Year` = 2023 \nunion all \nselect \n\t"Management cost" as "Category",\n    sum(`Management_costs(allocation)`) as "Management cost"\nfrom data_main\nwhere `Year` = 2023 \nunion all \nselect \n\t"Net profit from business activities" as "Category",\n    sum(`Net_profit_from_business_activities`) as "Amount"\nfrom data_main\nwhere `Year` = 2023 \nunion all \nselect \n\t"Revenue from financial activities" as "Category",\n    sum(`Revenue_from_financial_activities`) as "Amount"\nfrom data_main\nwhere `Year` = 2023 \nunion all \nselect \n\t"Financial operating expenses" as "Category",\n    sum(`Financial_operating_expenses`) as "Amount"\nfrom data_main\nwhere `Year` = 2023 \nunion all \nselect \n\t"Net profits" as "Category", \n    sum(`Net_profits`) as "Amount"\nfrom data_main\nwhere `Year` = 2023 \nunion all \nselect \n\t"Other incomes" as "Category", \n    sum(`Other_income`) as "Amount"\nfrom data_main\nwhere `Year` = 2023 \nunion all \nselect \n\t"Other costs" as "Category",\n    sum(`Other_costs`) as "Amount"\nfrom data_main\nwhere `Year` = 2023 \nunion all \nselect \n\t"Other profits" as "Category", \n    sum(`Other_profits`) as "Amount"\nfrom data_main\nwhere `Year` = 2023 \nunion all \nselect\n\t"Profit before tax" as "Category", \n    sum(`Profits_before_tax`) as "Amount"\nfrom data_main\nwhere `Year` = 2023 \nunion all \nselect \n\t"Profit after tax" as "Category",\n    sum(`Profit_after_taxes`) as "Amount"\nfrom data_main\nwhere `Year` = 2023 \nunion all \nselect \n\t"Final net profits" as "Category", \n    sum(`Net_profit`) as "Amount"\nfrom data_main \nwhere `Year` = 2023 '